<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="github-handle">
                         <a target="_blank" rel="noopener" href="https://github.com/jamiepompei">@jamiepompei</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1nwT75dbG8_a3VvIKk7d_kSgzbL2d73SN/view?usp=drive_link">Resume</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/portfolio']" [routerLinkActive]="['is-active']">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" [routerLink]="['/contact']" [routerLinkActive]="['is-active']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
