<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/imgs/search.png" alt="icon for searching" width="20" />
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a a href="https://drive.google.com/file/d/16Y6IVn1Y-FjV2iMUcTqhPdOXMJw_IyDk/view?usp=sharing">Resume</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
