.p-contact-text{
    color: #acacac;
    text-align: center;
}

.row{
    padding-top: 50px;
}

.contact-page{
    position: relative;
    min-height: 100%;
}

.contact-page::before{
    background: white !important;
    content: '';
    min-height: 100%;
    min-width: 25vw;
    position: absolute;
    z-index: -1;
}


