.p-contact-text{
    color: #acacac;
    text-align: center;
}

h5, .h5-linkedin-text{
    text-align: center;
    cursor: pointer;
}

h5:hover{
    transform: translateX(5px);
}
    
h5{
    transition: all .5s;
    transform: translateX(0);
}

.row{
    padding-top: 50px;
}

.contact-page{
    position: relative;
    min-height: 100%;
}

