/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body{
    font-family: 'Poppins';   
}

body{
    margin: 0;
    padding: 0; 
}
.section{
    max-width: 1200px;
    min-width: 1200px;
}

p{
    margin: 0;
    
}
ul{
   list-style-type: none;
   padding: 0; 
   margin: 0;
}
a, a:hover{
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}
h1{
    font-size: 45px;
}


/* COMMON */
.p-cursor{
    cursor: pointer;
}
.p-flex{
    display: flex;
}
.p-flex-align-center{
    align-items: center;
}
.p-flex-jc-sb{
    justify-content: space-between;
}
.p-viewprojects{
    color: black;
    font-weight: 600;
}
.p-viewprojects img{
    transition: all .5s;
    transform: translateX(0);
}
.p-viewprojects:hover img{
    transform: translateX(5px);
}

/*WRAPPER CLASS*/
.p-wrapper{
    position: relative;
    min-height: 100%;
}

.p-wrapper::before{
    content: '';
    background: #583d72;
    min-height: 105%;
    max-width: 25vw;
    min-width: 25vw;
    position: absolute;
    z-index: -1;

}
