.p-profile img{
    margin-top:670px;
    height: auto;
    width:auto;
    max-width: 100%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 250px;
}
.p-about-text{
    
    color: #acacac;
    width: 90%;
    font-size: 18px;
}
.about-section{
    margin-top: 520px;
}
.hello-header{
    margin-top:100px;
}

h2, hr{
    position: relative;
    top:50%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    
}
.p-viewprojects{
    color: #9f5f80;
    font-size: 25px;
}
.p-viewprojects:hover{
    color:#ff8e71;
    transform: translateX(5px);
}
